<!-- Section: about -->
<section id="about" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading text-center">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                        <h2>My name is Alice</h2>
                    </div>
                    <p class="wow bounceInUp" data-wow-delay="0.3s">I'm 28 years old from a village near Alpen mountain and I'm a spinster :(</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('bundles/templatelonely/bootstrap/img/img1.jpg') }}" class="img-responsive img-rounded" alt="" />
            </div>
            <div class="col-md-6">
                <p><strong>You'll fall in love with me at the first sight</strong></p>
                <p>
                Lorem ipsum dolor sit amet, ei purto tamquam ceteros his, eos in graece posidonium.
                Ex nullam vidisse salutatus sed, ea persius phaedrum tincidunt vel. Option virtute nonumes ne est.
                Id homero expetendis eam, dictas rationibus ut has.
                </p>
                <blockquote>
                Pri pertinacia elaboraret te, an eirmod delicatissimi nec. Eu liber quodsi maiorum mei.
                Civibus perfecto rationibus id his, est noster nostrud aliquando at.
                </blockquote>
                <a href="#gallery" class="btn btn-skin btn-lg btn-scroll">See my photos</a>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->
