    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <a href="index.html"><img src="{{ asset('bundles/templatelonely/bootstrap/img/logo.png') }}" alt="" /></a>
        </div>
        <div class="page-scroll">
            <a href="#about">
                <i class="fa fa-angle-down fa-5x animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->
