    <!-- Section: separator -->
    <section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5">

        <div class="container">
            <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                            <div class="icon">
                                <i class="fa fa-graduation-cap fa-5x"></i>
                            </div>
                        <span class="color-white">Bachelor of Design</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                            <div class="icon">
                                <i class="fa fa-heart fa-5x"></i>
                            </div>
                        <span class="color-white">10x failed in love</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                            <div class="icon">
                                <i class="fa fa-plane fa-5x"></i>
                            </div>
                        <span class="color-white">I love traveling</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="align-center txt-shadow">
                            <div class="icon">
                                <i class="fa fa-camera fa-5x"></i>
                            </div>
                        <span class="color-white">I'm photographer</span>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- /Section: separator -->
