<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="slogan">
        <a href="{{ path('home_index') }}"><img src="{{ asset('bundles/templatecommon/img/logo.jpg') }}" alt="logo" /></a>
    </div>
    <div class="page-scroll">
        <a href="#about">
            <i class="fa fa-angle-down fa-5x animated"></i>
        </a>
    </div>
</section>
<!-- /Section: intro -->
