<div class="container">
    <div class="row">
        <div class="slider">
            <div class="img-responsive">
                <ul class="bxslider">
                    <li><img src="{{ asset('bundles/templateenno/bootstrap/img/01.jpg') }}" alt=""/></li>
                    <li><img src="{{ asset('bundles/templateenno/bootstrap/img/01.jpg') }}" alt=""/></li>
                    <li><img src="{{ asset('bundles/templateenno/bootstrap/img/01.jpg') }}" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
</div>
